{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Liste des médicaments</h1>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Dosage</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Form</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medicament in medicaments %}
                        <tr>
                            <td>{{ medicament.id }}</td>
                            <td>{{ medicament.dosage }}</td>
                            <td>{{ medicament.nom }}</td>
                            <td>{{ medicament.form }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
