<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="https://cdn-icons-png.freepik.com/256/2785/2785482.png?ga=GA1.1.1918295113.1697625766&semt=ais_hybrid">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
         
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
